* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: 300;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form {
  width: 800px;
  margin-top: 20px;
}

.container form p {
  color: #ccc;
  margin: 8px 0;
}

.container form p span {
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
}

.container form button {
  width: 200px;
  height: 25px;
  cursor: pointer;
}